{% load static %}
<footer id="footer" class="footer light-background">
<div class="container">
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-geo-alt icon"></i>
        <div class="address">
          <h4>Address</h4>
          {% for a in address %}
          <p style="text-align: justify;">
            {{a.address|safe}}
          </p>
          {% endfor %}
          <p></p>
        </div>

      </div>

      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-telephone icon"></i>
        <div>
          <h4>Contact</h4>
          {% for a in address %}
          <p style="font-size: 18px;color:#fff">
            <strong>Phone:</strong> <span>{{a.phone_number}}</span><br>
            <strong>Email:</strong> <span>{{a.email}}</span><br>
          </p>
          {% endfor %}
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex">
        <div>
          <div class="row">
            <div class="col-md-8">
              <h4>Quick Links</h4>
              <p style="font-size: 18px;">
                <a href="{% url 'about' %}" style="color: rgb(255, 255, 255);">About</a><br>
                <a href="{% url 'news' %}" style="color: rgb(255, 255, 255);">News & Updates</a>
                <a href="{% url 'membership' %}" style="color: rgb(255, 255, 255);">Membership</a><br>
                <a href="{% url 'downloads' %}" style="color: rgb(255, 255, 255);">Downloads</a>
              </p>
            </div>
          </div>
          
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <h4>Follow Us</h4>
        <div class="social-links d-flex">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">2025</strong></p>
  </div>
</footer>