{% extends 'pages/users/main.html' %}
{% block content %}
{% load static %}
<style>
.news-detail{
    background: url('{% static "assets/img/bg2.jpg" %}') no-repeat center center;
  }
  </style>
    <!-- Page Title -->
    <div class="page-title news-detail" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>News & Updates</h1>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">Services</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <div class="container">

        <div class="row gy-4 justify-content-center">


          {% if news %}
          <div class="col-lg-10 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              
                <h3>{{ news.title }}</h3>
                
              </a>
              <img src="{{ news.image.url }}" alt="{{ news.title }}" style="max-width: 100%;" class="img-fluid d-block mx-auto">

              <p style="margin-top: 40px;">{{ news.description|safe }}</p>

              <a style="margin-top: 30px;" href="{% url 'news' %}" class="btn btn-success">Back to News</a>

              <p style="margin-top: 20px;color: rgb(47, 143, 76);"><i>Published on {{ news.date }}</i> </p>
            </div>
          </div><!-- End Service Item -->
          {% endif %}
         

        </div>

      </div>

    </section><!-- /Services Section -->
    {% endblock %}